<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="leftMenu">
  <h3>Menu</h3>
  <a href="#/search"><i class="icon-search icon-large icon-white"></i> Search</a>
  <a href="#/listItem"><i class="icon-share icon-large icon-white"></i> List Item</a>
  <a href="#/account"><i class="icon-user icon-large icon-white"></i> My Account</a>
  <a href="#/listings"><i class="icon-tags icon-large icon-white"></i> My Listings</a>
  <a href="#/reservations"><i class="icon-calendar icon-large icon-white"></i> My Reservations</a>
</nav>