<ul class="nav nav-tabs" id="accountTabs">
  <li class="active"><a href="#profile">Profile</a></li>
  <li><a href="#bank">Bank</a></li>
  <li><a href="#payments">Payments</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="profile">
    <ng-include src="'/app/partials/account/profile.html'">
    </ng-include>
  </div>
  <div class="tab-pane" id="bank">
    <ng-include src="'/app/partials/account/bank.html'">
    </ng-include>
  </div>
  <div class="tab-pane" id="payments">
    <ng-include src="'/app/partials/account/creditCard.html'">
    </ng-include>
  </div>
</div>