<!--<section class="bar-title">-->
  <!--<nav id="menuButton" class="button"><i class="icon-list-ul icon-large"></i></nav>-->
  <!--<h1 class="title">{{callToAction}}</h1>-->
  <!--<a class="button" href="#/search"><i class="icon-search icon-large"></i></a>-->
  <!--<a class="button" href="#/search"><img class="logo" src="assets/img/logo.png"></a>-->
<!--</section>-->
<ul class="segmented-controller">
  <li class="active">
    <a href="#map-canvas">Map View</a>
  </li>
  <li>
    <a href="#location-list">List View</a>
  </li>
</ul>
<ul class="inset list">
  <li id="map-canvas" class="segmented-controller-item active">
  </li>
  <li id="location-list" class="segmented-controller-item">
    Item 2
  </li>
</ul>