<ul class="nav nav-tabs" id="reservationsTab">
  <li class="active"><a href="#all">All</a></li>
  <li><a href="#upcoming">Upcoming</a></li>
  <li><a href="#past">Past</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="all">
    <h1>All My Reservations</h1>
  </div>
  <div class="tab-pane" id="upcoming">
    <h1>My Upcoming Reservations</h1>
  </div>
  <div class="tab-pane" id="past">
    <h1>My Past Reservations</h1>
  </div>
</div>

<div id="wrapper" class="content">
  <div id="scrollable">
    <div class="well searchResultWell" ng-repeat="listing in listings | filter: searchString">
      <div class="row">
        <div class="span6">
          <img class="searchThumbnail" src="http://placehold.it/150x105" ng-src="{{listing.images[0] | placeholder:'150x105'}}">
        </div>
        <div class="span6">
          <h6>{{listing.location | limitCharacters:30}} {{listing.distance}}</h6>
          <span>{{listing.price | currency}}</span>
          <a class="btn btn-primary" href="#/listing/{{listing._id}}">view</a>
        </div>
      </div>
    </div>
  </div>
</div>