<div class="well">
  <input type="text" class="input-block-level" ng-model="searchString">
</div>
<div id="wrapper" class="content">
  <div id="scrollable">
    <div class="media well" ng-repeat="listing in listings | filter: searchString">
      <a class="pull-left" href="#/listing/{{listing._id}}">
        <img class="media-object searchThumbnail" src="http://placehold.it/150x105" ng-src="{{listing.images[0] | placeholder:'150x105'}}">
      </a>

      <div class="media-body">
        <h6 class="media-heading">{{listing.location | limitCharacters:30}} {{listing.distance}}</h6>
        <span>{{listing.price | currency}}</span>
        <button class=" button-positive" type="button" href="#/listing/{{listing._id}}">reserve now</button>
      </div>
    </div>
  </div>
</div>
<nav class="bar-tab" style="position: fixed; bottom: 0px;">
  <ul class="well">
    <a class="button" href="#/map"><i class="icon-map-marker icon-large"></i></a>
  </ul>
</nav>