<div class="container fill" style="text-align: center; margin: 20px;">
  <p>
    Awesome, you're now part of the <br>Lynd community!
  </p>
  <p>
    If you have boards you'd like to Lynd, go ahead and start filling out your Quiver.
  </p>
  <p>
    This app is in beta and we would love to hear your feedback-
    email your thoughts to stoke@lynd.me. Thanks!
  </p>
  <img width="250px;" src="/assets/img/Wizard_image_3.gif">
  <br> <br>
    <button ng-click="addToQuiver()" class="btn btn-large btn-tip">Add to my Quiver</button>
  <!-- don't need search for beta
  <div class="middle" style="bottom:5%;">
    <form class="form-search">
      <div class="input-append">
        <input type="text" class="span3 search-query">
        <button ng-click="search()" type="submit" class="btn"><i class="icon-search icon-large"></i></button>
      </div>
    </form>
  </div> -->
</div>