<div class="container fill">
  <div class="middle" style="top:5%;">
    Awesome, you're now part of the <br>Lynd community!
  </div>
  <div class="middle" style="top:18%;">
    If you have boards you'd like to <br>Lynd, go ahead and start filling<br> out your Quiver.
  </div>
  <div class="middle" style="top:40%;">
    Or can't wait to hit the water?<br> Find boards to rent near you.
  </div>
  <hr style="position: absolute; bottom:36%; width: 100%;">
  </hr>
  <div class="middle" style="bottom:25%;">
    <button ng-click="addToQuiver()" class="btn btn-large btn-tip">Add to my Quiver</button>
  </div>
  <div class="middle" style="bottom:5%;">
    <form class="form-search">
      <div class="input-append">
        <input type="text" class="span3 search-query">
        <button ng-click="search()" type="submit" class="btn"><i class="icon-search icon-large"></i></button>
      </div>
    </form>
  </div>
</div>