<div class="container fill" style="margin: 20px; text-align: center">
  <p>
    Post boards to your Quiver and Lynd them out to local and visiting surfers.
  </p>
  <div >
    <img src="/assets/img/Wizard_image_2.png">
  </div>
  <br>
  <p class="">Have an upcoming surf trip to Indo?</p>
  <p class="">Find a board to rent in the area and save the hassle of flying your gear.</p>
  <div style="margin-top: 50px;">
    <i ng-click="stepThree()" class="icon-circle-arrow-left icon-large"></i>
    <i ng-click="stepFour()" class="icon-circle-arrow-right icon-large"></i>
  </div>
</div>