<div class="container fill">
  <div class="middle" style="top:10%;">
    Post boards to your Quiver and Lynd them out to local and visiting surfers.
  </div>
  <div class="middle" style="top:23%;">
    <img src="/assets/img/Hambear.jpg" width="50%">
  </div>
  <div class="middle" style="bottom:45%;">
    Have an upcoming surf trip to Indo?
  </div>
  <div class="middle" style="bottom:33%;">
    Find a board to rent in the area and save the hassle of flying your gear.
  </div>
  <div class="middle" style="bottom:12%;">
    <span>
      <img ng-src="{{'' | placeholdIt:'80x60'}}">
    </span>
    <span>
      <img ng-src="{{'' | placeholdIt:'80x60'}}">
    </span>
  </div>
  <div class="middle" style="bottom:5%;">
    <i ng-click="stepThree()" class="icon-circle-arrow-left icon-large"></i>
    <i ng-click="stepFour()" class="icon-circle-arrow-right icon-large"></i>
  </div>
</div>