<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Lynd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../client/app/js/lib/ratchet/touch-icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../client/app/js/lib/ratchet/touch-icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../client/app/js/lib/ratchet/touch-icons/apple-touch-icon-57x57.png">

  <!--<link rel="stylesheet" href="../../assets/css/normalize.css">-->
  <!--<link rel="stylesheet" href="../../assets/css/flat-ui.css">-->
  <!--<link rel="stylesheet" href="../../app/js/lib/ratchet/ratchet.css">-->
  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap-responsive.min.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/sidemenu.css">
  <link rel="stylesheet" href="../../assets/css/app.css">
  <script type="text/javascript">
    var socketHost = '{{socketHost}}'
    var development = '{{development}}'
    var switches = {}
    switches.fb = "{{switches.fb}}"
    switches.geocode = "{{switches.geocode}}"
    switches.mobozi = "{{switches.mobozi}}"
  </script>
  <script data-main="/app/js/main" src="../../app/js/lib/require/require.js"></script>
</head>
<body class="cbp-spmenu-push" id="lynd">
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="leftMenu">
  <h3>Menu</h3>
  <a href="#/search"><i class="icon-search icon-large icon-white"></i> Search</a>
  <a href="#/listItem"><i class="icon-share icon-large icon-white"></i> List Item</a>
  <a href="#/account"><i class="icon-user icon-large icon-white"></i> My Account</a>
  <a href="#/listings"><i class="icon-tags icon-large icon-white"></i> My Listings</a>
  <a href="#/reservations"><i class="icon-calendar icon-large icon-white"></i> My Reservations</a>
</nav>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <button id="menu-button" class="btn btn-primary"><i class="icon-list icon-large"></i></button>
  </div>
</div>
<div class="content" ng-view>
</div>
</body>
</html>