<div class="well searchResultWell pan man" ng-repeat="listing in listings | filter: searchString" style="background-image: url({{listing.images[0] | quiverPlaceholdIt:'/assets/img/quiver.png'}});">
  <div ng-click="listingDetails()" class="row-fluid">
    <div class="span12 searchHood">
    </div>
    <div class="span12 searchHoodText">
      <div style="position:absolute;top:0px;left:10px;">
        <h4 class="man pan">{{listing.title}}</h4>
        <h7 class="man pan">{{listing.location}}</h7>
      </div>
      <h3 class="pan man listingPrice">{{listing.price | wholeDollar}}/day</h3>
    </div>
  </div>
</div>