<div class="well">
  <form ng-submit="saveListing()" class="form-horizontal">
    <div class="input-row">
      <input ng-model="title" id="inputTitle" type="text" class="input-xlarge" placeholder="Item Title">
    </div>
    <br>
    <div class="input-row">
      <input ng-model="location" class="input-block-level" type="text" placeholder="Item Location" list="locations">
      <datalist id="locations">
        <option ng-repeat="location in locations" value="{{location.address}}">
      </datalist>
    </div>
    <br>
    <div class="input-row">
      <select ng-model="price" class="span1">
        <option value="" selected="selected">Daily Rate</option>
        <option ng-repeat="price in prices" value="{{price}}">{{price | currency}}</option>
      </select>
    </div>
    <br>
    <div class="input-row">
      <select ng-model="value" class="span1">
        <option value="" selected="selected">Safety Deposit</option>
        <option ng-repeat="value in values" value="{{value}}">{{value | currency}}</option>
      </select>
      <span class="help-block">We also insure your board up to $1000</span>
    </div>
    <br>
    <div class="input-row">
      <textarea ng-model="description" class="input-block-level" rows="5" placeholder="Tell us about your board!"></textarea>
    </div>
    <div class="input-row">
      <label>Photos</label>
      <a class="btn" type="button" ng-click="choosePhotos()"><i class="icon-camera"></i> Pick Em</a>
    </div>

    <div class="slider">
      <ul>
        <li ng-repeat="photo in photos">
          <img height="200px" ng-src="{{photo}}">
        </li>
      </ul>
    </div>
    <a class="btn btn-primary btn-large btn-block" ng-click="saveListing()"><i class="icon-check"></i> Submit</a>
  </form>
</div>