<div class="container fill">
  <div class="middle" style="top:10%;">
   <img src="/assets/img/Lynd_barrel.jpg" width="100%">
  </div>
  <div class="middle" style="bottom:20%;">
    Welcome to Lynd, the easiest way to spread the stoke by lending and borrowing boards both near and far.
  </div>
  <div class="middle" style="bottom:5%;">
    <i ng-click="stepThree()" class="icon-circle-arrow-left icon-large"></i>
    <i ng-click="stepFour()" class="icon-circle-arrow-right icon-large"></i>
  </div>
</div>